.json-form-field[data-v-6280696a]{width:100%}.outer-expansion-panel[data-v-6280696a],.maplibre-expression-textarea[data-v-6280696a]{width:98%;display:inline-block;float:left}.v-card[data-v-409335c7]{margin-bottom:16px}
